.body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('Assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.top_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.menu {
    display: flex;
    gap: 20px;
    
}
.menu-item {
    display: flex;
    align-items: center;
    position: relative;
}